#{extends 'main.html' /}

<table id="main">
    <tr>
        <td>
            <form action="@{Application.index()}" method="POST">
                <table>
                    <thead>
                        <tr><td colspan="2">Технические требования</td></tr>
                    </thead>
                    <tr>
                        <td>Светосила</td>
                        <td><input class="control" type="number" name="requirements.apertureSpeed"/></td>
                    </tr>
                    <tr>
                        <td>Угол поля зрения (градусы)</td>
                        <td><input class="control" type="number" name="requirements.angularField"/></td>
                    </tr>
                    <tr>
                        <td>Фокусное расстояние (мм)</td>
                        <td><input class="control" type="number" name="requirements.focalLength"/></td>
                    </tr>
                    <tr>
                        <td>Видимый хроматический диапазон (нм)</td>
                        <td>
                            1. <input class="control" type="number" 
                                   name="requirements.waveLengths[0]"/><br/>
                            2. <input class="control" type="number" 
                                   name="requirements.waveLengths[1]"/><br/>
                            3. <input class="control" type="number" 
                                   name="requirements.waveLengths[2]"/><br/>
                        </td>
                    </tr>
                    <tr>
                        <td>Качество изображения</td>
                        <td>
                            <select class="control" name="requirements.imageQuality">
                                #{list ru.ifmo.ailab.e3soos.facts.Requirements.ImageQuality.values(), as:'quality'}
                                <option>${quality}</option>
                                #{/list}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Задний фокальный отрезок (мм)</td>
                        <td><input class="control" type="number" name="requirements.backFocalDistance"/></td>
                    </tr>
                    <tr>
                        <td>Положение входного зрачка</td>
                        <td>
                            <select class="control" name="requirements.entrancePupilPosition">
                                #{list ru.ifmo.ailab.e3soos.facts.Requirements.EntrancePupilPosition.values(), as:'pos'}
                                <option>${pos}</option>
                                #{/list}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Классифицировать"/></td>
                    </tr>
                </table>
            </form>
        </td>
        <td>
            <table>
                <thead>
                    <tr>
                        <td colspan="2">Классификация ОС</td>
                    </tr>
                </thead>
                <tr>
                    <td colspan="2">по оптическим характеристикам</td>
                </tr>
                <tr>
                    <td>J</td><td>${classification?.j}</td>
                </tr>
                <tr>
                    <td>W</td><td>${classification?.w}</td>
                </tr>
                <tr>
                    <td>F</td><td>${classification?.f}</td>
                </tr>
                <tr>
                    <td colspan="2">по назначению</td>
                </tr>
                <tr>
                    <td>L</td><td>${classification?.l}</td>
                </tr>
                <tr>
                    <td>Q</td><td>${classification?.q}</td>
                </tr>
                <tr>
                    <td colspan="2">по конструктивным особенностям</td>
                </tr>
                <tr>
                    <td>S</td><td>${classification?.s}</td>
                </tr>
                <tr>
                    <td>D</td><td>${classification?.d}</td>
                </tr>
                <tr>
                    <td>Индекс сложности:</td><td>${classification?.r}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>