<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ru.ailab.e3soos.plugin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="ru.ailab.e3soos.plugin.Perspective"
            id="ru.ailab.e3soos.plugin.perspective">
      </perspective>
   </extension>
   <extension
         id="ru_ailab_e3soos_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ru.ailab.e3soos.plugin.application"
            name="RCP Example Product">
      </product>
   </extension>

</plugin>
