#{extends 'main.html' /}

<table>
    <tr>
        <td>
            <form>
                <table>
                    <thead>
                        <tr><td colspan="2">Технические требования</td></tr>
                    </thead>
                    <tr>
                        <td>Светосила</td><td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td>Угол поля зрения</td><td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td>Фокусное расстояние</td><td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td>Видемый хроматический диапазон</td><td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td>Качество изображения</td><td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td>Задний фокальный отрезок</td><td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td>Положение входного зрачка</td><td><input type="text"/></td>
                    </tr>
                </table>
            </form>
        </td>
        <td>
            <table>
                <thead>
                    <tr>
                        <td colspan="2">Классификация ОС</td>
                    </tr>
                </thead>
                <tr>
                    <td colspan="2">по оптическим характеристикам</td>
                </tr>
                <tr>
                    <td>J</td><td>0</td>
                </tr>
                <tr>
                    <td>W</td><td>0</td>
                </tr>
                <tr>
                    <td>F</td><td>0</td>
                </tr>
                <tr>
                    <td colspan="2">по назначению</td>
                </tr>
                <tr>
                    <td>L</td><td>0</td>
                </tr>
                <tr>
                    <td>Q</td><td>0</td>
                </tr>
                <tr>
                    <td colspan="2">по конструктивным особенностям</td>
                </tr>
                <tr>
                    <td>S</td><td>0</td>
                </tr>
                <tr>
                    <td>D</td><td>0</td>
                </tr>
            </table>
        </td>
    </tr>
</table>